body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./public/background.jpg");
  background-size: cover; 
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: overlay;
}

#myCanvas {
  width: 100%;
  height: 100%;
}

#menuItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid grey;
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
  background-color: azure;
  border: none;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10%;
}

button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

select {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: azure;
  margin: 0.5rem;
  padding: 0.5rem;
}

select:hover {
  background-color: antiquewhite;
}

#time {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.logo {
  width: 90%;
}

/*
#game-status {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
} */ 
